{{!--
  This template is used for the author page.
--}}

{{!-- This block preloads specific assets for the author page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/author.css"}}" as="style" />
{{/contentFor}}

{{!-- This block loads specific styles for the author page --}}
{{#contentFor "styles"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{asset "css/author.css"}}"
    media="screen"
  />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="g-main-container">
  <main role="main">
    {{!-- Everything inside the #author tags pulls data from the author --}}
    {{#author}}
      <section x-data="author('{{slug}}')">
        {{#if cover_image}}
          <div class="g-author-hero">
            {{> hero-image hero_image=cover_image}}
            <div class="g-author-hero__social">
              {{> author-social-links in_hero="true"}}
            </div>
          </div>
        {{/if}}
        <div class="g-author-header {{#if cover_image}}with-image{{/if}}">
          <div class="g-wrapper">
            <div class="g-author-header__content">
              <div class="g-author-header__content__main">
                {{#if profile_image}}
                  <div class="g-author-header__avatar">
                    <img
                      data-src="{{img_url profile_image size="s"}}"
                      alt=""
                      width="150"
                      height="150"
                      class="lazy"
                    >
                  </div>
                {{/if}}
                <h1 class="g-author-header__name">{{name}}</h1>
                {{#if bio}}
                  <p class="g-author-header__bio">{{bio}}</p>
                {{/if}}
                {{#if location}}
                  <span class="g-author-header__location">
                    {{location}}
                  </span>
                {{/if}}
              </div>
              {{^if cover_image}}
                {{> author-social-links}}
              {{/if}}
            </div>
          </div>
        </div>
      </section>
    {{/author}}
    {{!-- List of articles --}}
    {{> loop}}
    {{!-- Newsletter form --}}
    {{> newsletter-form}}
  </main>
</div>

<script>
  function author(slug) {
    return {
      init() {
        window.currentLoopFilter =
          `primary_author:${encodeURIComponent(slug)}`
      }
    }
  }
</script>
