{{!--
  This template is used for posts without Newsletter form.
--}}

{{!-- This block preloads specific assets for the post page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/post.css"}}" as="style" />
{{/contentFor}}

{{!-- This block loads specific styles for the post page --}}
{{#contentFor "styles"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{asset "css/post.css"}}"
    media="screen"
  />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="g-main-container">
  <main role="main">
    {{!-- Everything inside the #post tags pulls data from the post --}}
    {{#post}}
      <article class="custom-template">
        {{> post-header}}
        <div
          class="g-post-content {{^if feature_image}}no-image{{/if}} js-post-content"
        >
          {{#if access}}
            {{content}}
          {{else}}
            {{{html}}}
            {{> post-paywall}}
          {{/if}}
        </div>
      </article>
      {{!-- Share  --}}
      {{> post-share}}
      {{#is "post"}}
        {{!-- Comments --}}
        {{> comments}}
        {{!-- Prev/Next nav --}}
        {{> post-nav}}
        {{!-- Related posts --}}
        {{> related-posts}}
      {{/is}}
    {{/post}}
  </main>
</div>

{{!-- This block loads specific scripts for the post page --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/post.js"}}"></script>
{{/contentFor}}

{{!-- Lightbox plugin --}}
{{> post-lightbox}}
